<div class="ui raised segment" [hidden]="todos.length == 0">
    <div class="ui middle aligned divided selection list">
        <div class="item">
            <div class="ui checkbox">
                <input id="all-done" #allDone type="checkbox" (change)="checkAll(allDone.checked)">
                <label for="all-done">Select all</label>
            </div>

            <button type="button" class="ui red icon button remove-button" (click)="removeAll()">
                <i class="trash outline icon"></i>
            </button>
        </div>

        <div class="todo item" *ngFor="let todo of todos">
            <div class="ui checkbox">
                <input [checked]="todo.done" id="done" #done type="checkbox" (change)="todo.done = done.checked">
                <label for="done" [ngClass]="{selected: todo.done}">{{ todo.title }}</label>
            </div>

            <button type="button" class="ui red icon button remove-button" (click)="removeTodo(todo)"><i class="trash outline icon"></i></button>
        </div>
    </div>
</div>