<div class="ui raised segment" [hidden]="todos.length == 0">
    <div class="ui middle aligned divided selection list">
        <div class="item">
            <div class="ui checkbox">
                <input id="all-done" #allDone type="checkbox" (change)="checkAll(allDone.checked)">
                <label for="all-done">Select all</label>
            </div>

            <button type="button" class="ui red icon button remove-button" (click)="removeAll()">
                <i class="trash outline icon"></i>
            </button>
        </div>

        <todo-item *ngFor="let todo of todos" [todo]="todo" (deleted)="onTodoDeleted($event)"></todo-item>
    </div>
</div>