h1 {
    color: #333;
    font-style: oblique;
}

#todos-container {
    margin: 20px auto;
}

.selected {
    text-decoration: line-through;
    color: #339966;
}

.remove-button {
    float: right;
}